<!-- <div class="top-head-new">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <ul class="menu-top-left">
                    <li>
                        <a style="font-weight: bold" title="khách hàng cá nhân"><span class="text-li">Cá nhân</span></a>
                    </li>

                    <li>
                        <a href="https://onesme.vn" title="khách hàng doanh nghiệp" target="_blank"><span class="text-li">Doanh nghiệp</span></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-10">
                <div class="right-top-new">
                    <ul>
                        <li>
                            <a href="/diem-giao-dich.html"><span><img src="themes/default/images/location.png" alt="icon-check-order"></span> <span class="text-li">Điểm giao dịch</span></a>
                        </li>
                        <li>
                            <select class="form-select">
                                <option value="">Toàn quốc</option>
                                <option value="AGG">Tỉnh An Giang</option>
                                <option value="BCN">Tỉnh Bắc Kạn</option>
                                <option value="BDG">Tỉnh Bình Dương</option>
                                <option value="BDH">Tỉnh Bình Định</option>
                                <option value="BGG">Tỉnh Bắc Giang</option>
                                <option value="BLU">Tỉnh Bạc Liêu</option>
                                <option value="BNH">Tỉnh Bắc Ninh</option>
                                <option value="BPC">Tỉnh Bình Phước</option>
                                <option value="BTE">Tỉnh Bến Tre</option>
                                <option value="BTN">Tỉnh Bình Thuận</option>
                                <option value="CBG">Tỉnh Cao Bằng</option>
                                <option value="CMU">Tỉnh Cà Mau</option>
                                <option value="CTO">Thành phố Cần Thơ</option>
                                <option value="DAN">Tỉnh Đắk Nông</option>
                                <option value="DBN">Tỉnh Điện Biên</option>
                                <option value="DLC">Tỉnh Đắk Lắk</option>
                                <option value="DNG">Thành phố Đà Nẵng</option>
                                <option value="DNI">Tỉnh Đồng Nai</option>
                                <option value="DTP">Tỉnh Đồng Tháp</option>
                                <option value="GLI">Tỉnh Gia Lai</option>
                                <option value="HAG">Tỉnh Hậu Giang</option>
                                <option value="HBH">Tỉnh Hoà Bình</option>
                                <option value="HCM">Thành phố Hồ Chí Minh</option>
                                <option value="HDG">Tỉnh Hải Dương</option>
                                <option value="HGG">Tỉnh Hà Giang</option>
                                <option value="HNI">Thành phố Hà Nội</option>
                                <option value="HNM">Tỉnh Hà Nam</option>
                                <option value="HPG">Thành phố Hải Phòng</option>
                                <option value="HTH">Tỉnh Hà Tĩnh</option>
                                <option value="HUE">Tỉnh Thừa Thiên Huế</option>
                                <option value="HYN">Tỉnh Hưng Yên</option>
                                <option value="KGG">Tỉnh Kiên Giang</option>
                                <option value="KHA">Tỉnh Khánh Hòa</option>
                                <option value="KTM">Tỉnh Kon Tum</option>
                                <option value="LAN">Tỉnh Long An</option>
                                <option value="LCI">Tỉnh Lào Cai</option>
                                <option value="LCU">Tỉnh Lai Châu</option>
                                <option value="LDG">Tỉnh Lâm Đồng</option>
                                <option value="LSN">Tỉnh Lạng Sơn</option>
                                <option value="NAN">Tỉnh Nghệ An</option>
                                <option value="NBH">Tỉnh Ninh Bình</option>
                                <option value="NDH">Tỉnh Nam Định</option>
                                <option value="NTN">Tỉnh Ninh Thuận</option>
                                <option value="PTO">Tỉnh Phú Thọ</option>
                                <option value="PYN">Tỉnh Phú Yên</option>
                                <option value="QBH">Tỉnh Quảng Bình</option>
                                <option value="QNH">Tỉnh Quảng Ninh</option>
                                <option value="QNI">Tỉnh Quảng Ngãi</option>
                                <option value="QNM">Tỉnh Quảng Nam</option>
                                <option value="QTI">Tỉnh Quảng Trị</option>
                                <option value="SLA">Tỉnh Sơn La</option>
                                <option value="STG">Tỉnh Sóc Trăng</option>
                                <option value="TBH">Tỉnh Thái Bình</option>
                                <option value="TGG">Tỉnh Tiền Giang</option>
                                <option value="THA">Tỉnh Thanh Hóa</option>
                                <option value="TNH">Tỉnh Tây Ninh</option>
                                <option value="TNN">Tỉnh Thái Nguyên</option>
                                <option value="TQG">Tỉnh Tuyên Quang</option>
                                <option value="TVH">Tỉnh Trà Vinh</option>
                                <option value="VLG">Tỉnh Vĩnh Long</option>
                                <option value="VPC">Tỉnh Vĩnh Phúc</option>
                                <option value="VTU">Tỉnh Bà Rịa - Vũng Tàu</option>
                                <option value="YBI">Tỉnh Yên Bái</option>
                            </select>               
                        </li>
                        <li>
                            <a href="/tra-cuu-don-hang.html"><span><img src="/themes/default/images/check-order-min.png" alt="icon-check-order"></span> <span class="text-li">Kiểm tra đơn hàng</span></a>
                        </li>
                        <li>
                            <a href="https://shop.vnpt.vn/ctv/"><span><img src="/themes/default/images/kiem_tien.png" alt="icon-check-order"></span> <span class="text-li">Kiếm tiền Online</span></a>
                        </li>
                        <li>
                            <a href="/cac-kenh-ho-tro.html"><span><img src="/themes/default/images/support-min.png" alt="icon-support"></span> <span class="text-li">Hỗ trợ</span></a>
                        </li>
                                                    <li>
                                <a style="margin-top: -4px" href="#" class="btn  dropdown-toggle" type="button" data-toggle="dropdown"><span><img width="27" src="/themes/default/images/icon_user_2.png" alt="User"> </span><span class="text-li"></span></a>
                                <ul class="dropdown-menu drop-custom" id="sub-custom">
                                    <li>
                                        <a href="https://shop.vnpt.vn/sso/register/001" class="btn">Đăng ký</a>
                                    </li>
                                    <li>
                                        <a href="https://shop.vnpt.vn/sso/login/001" class="btn">Đăng nhập</a>
                                    </li>
                                </ul>
                            </li>
                                                <li>
                            <a alt="Lấy mã ưu đãi" href="/tra-cuu-voucher.html"><span><img alt="Lấy mã ưu đãi" src="/themes/default/images/voucher.png"></span><span class="text-li"></span></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid container-md">
        <div class="logo-destop-new">
            <a href="/"><img src="/themes/default/images/logo_vnpt2.png" alt=""></a>
        </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <div class="menu-destop-new">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" title="Khách hàng cá nhân">Di động
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu drop-custom-menu">
                                <li>
                                    <a>Sim số đẹp</a>
                                </li>
                                <li>
                                    <a>Sim số</a>
                                </li>
                                <li><a>Gói cước</a>
                                </li>
                                <li><a>Nạp thẻ</a></li>
                                <li><a>Gói cước roaming</a></li>
                                <li>
                                    <a>Chuyển đổi trả trước sang trả sau</a>
                                </li>
                                <li>
                                    <a>
                                        Chuyển mạng giữ số
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" title="Khách hàng cá nhân">Sim kèm gói
                                <span class="caret"></span></a>

                            <ul class="dropdown-menu drop-custom-menu">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" title="Khách hàng cá nhân">SIM VD90-VD120N-VD150<span class="caret"></span></a>
                                    <ul class="sub-menu dropdown-menu drop-custom-menu">
                                        <li>
                                            <a>SIM VD90</a>
                                        </li>
                                        <li>
                                            <a>Sim VD120N</a>
                                        </li>
                                        <li>
                                            <a>Sim VD150</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a>Truyền hình
                                MyTV MOBILE</a>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="Khách hàng cá nhân">Combo Internet &amp; Truyền hình
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu drop-custom-menu">
                                <li>
                                    <a>Internet
                                        cáp quang</a>
                                </li>

                                <li>
                                    <a>Truyền
                                        hình MyTV IPTV</a>
                                </li>
                                <li>
                                    <a>Internet
                                        và truyền hình</a>
                                </li>
                                <li>
                                    <a>Internet,
                                        truyền hình và di động</a>
                                </li>
                                <li>
                                    <a>Internet,
                                        truyền hình và bảo hiểm</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" title="Khách hàng cá nhân">Dịch vụ số
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu drop-custom-menu">
                                <li>
                                    <a title="Dịch Vụ Bảo Mật ">
                                        Dịch Vụ Bảo Mật
                                    </a>
                                </li>

                                <li>
                                    <a >Bảo Hiểm</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
      </div>
    </div>
</nav>