@import '../../../style/style.css';
@import '../../../style/desktop_new.css';

// Header
.menu-top-left {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    float: left;
}

.menu-top-left li {
    list-style: none;
    float: left;
}

.menu-top-left li a {
    color: #fff;
    padding: 13px 10px;
    float: left;
    width: 100%;
}

a {
    color: #019aff;
    cursor: pointer;
}

.right-top-new ul {
    float: right !important;
    margin: 0 !important;
    padding: 0 !important;
    text-align: right !important;
    position: absolute;
    right: 0;
}

.right-top-new ul li {
    margin-top: 6px;
}

select {
    padding-left: 5px;
}

.navbar-nav {
    flex-direction: row;
}
