:host {
    display: block;
    background: #fff;
    border-radius: 8px;
    padding: 16px;
    max-width: 1200px;
}

.btn-back,
.btn-register {
    min-width: 100px;
    height: 45px;
}

.btn-back {
    background: #0aa1df !important;
    margin-right: 10px !important;
    color: #fff !important;
    border: 2px #0aa1df solid !important;
    padding: 7px 20px !important;
    border-radius: 100px !important;
}

.modal-header {
    text-align: center;
    display: initial;
}

.float-right {
  float: right;
}

.btn-close{
    padding: 7px;
    border-radius: 50px;
    border: 1px solid;
}